<link rel="stylesheet" href="/css/about.css" >
<body>
<h1>ABOUT US</h1>
    <div>
    <p>THE SKIRMISH INTERROGATION is a web application for conducting quizzes among friends</p>
    <ul>
        <li>Users can join the quiz once they enter the invitation code</li><br>
        <li>Users can form groups and one player from the team can answer the questions</li><br>
        <li>There is a leaderboard to see who is on the podium</li>
    </ul>
</div>
</body>