
        *{
           
            padding: 0px;
            margin: 0px;
            background-color: rgb(197, 180, 159)  ;
        }
        /* body{
            background-image: url('/image/avengers_bg.jpg');
        } */
        h1{
            padding: 45px;
            font-size: 60px;
            background-color: aliceblue;
        
            color:black;
        }
        div{
            
              padding: 10px 450px;
              font-size: 24px;
        }
    

