body{
    
  background-color: #e2c5fb;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.blogout{
  
  height: 1.5rem;
  width: 5%;
  position: absolute;
  top: 2vh;
  right: 2vw;
  font-size: 1rem;
}
.blogout:hover{
  cursor: pointer;
  transform: translateY(-0.1rem); 
  transform: translateX(-0.1rem);
  transition: transform 150ms;
}
.blogout a{
  text-decoration: none;
}

.container a{
  font-size: 60px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 4px solid rgb(146, 102, 205) ;
  padding: 4px 8px;
  border-radius: 10px;
  position: relative;
animation:  play 3s ease-in infinite normal none;
}

#playbtn{
  background-color: rgb(127, 43, 182);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vh;
  border: 0.2rem solid white;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

#play {
  font-family: 'Rubik Iso', cursive;
  font-size: 2rem;
  /* padding: 1rem 0; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 1rem;
  /* margin-bottom: 1rem; */
  text-decoration: none;
  color: white;
  
}
#playbtn:hover {
  
  cursor: pointer;
  box-shadow: 0 0.6rem 2rem 0 rgba(126, 27, 184, 0.5);
  transform: translateY(-0.5rem); 
  transform: translateX(-0.5rem);
  transition: transform 150ms;
  
}
#play:hover {
  color: azure;
  font-size: 2.3rem;
  font-weight: 100;

  
}


.triangle-right {
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 2rem solid #ffffff;
    border-bottom: 1rem solid transparent;
}
